### Jekyll ###
_site
.sass-cache
.jekyll-cache
.jekyll-metadata
.bundle
vendor

### Ruby just in case ###
*.gem
*.rbc
/.config
/coverage/
/InstalledFiles
/pkg/
/spec/reports/
/spec/examples.txt
/test/tmp/
/test/version_tmp/
/tmp/
