<br>
<b><p>~/ $ neofetch</p></b>
<!-- Haven't been able to think of a non-cursed way to surpress the ASCII and only the ASCII for ARIA so span-hell it is -->
<pre class="fetch">
<span aria-hidden="true">                      ,        </span><b><span class="host-highlight">mia</span>@<span class="host-highlight">mialikestech.dev</span></b>
<span aria-hidden="true">                    _/((       </span>--------------------
<span aria-hidden="true">           _.---. .'   `\      </span><b>Name</b>: Mia A
<span aria-hidden="true">         .'      `     ^ T=    </span><b>Host</b>: Github Pages
<span aria-hidden="true">        /     \       .--'     </span><b>Pronouns</b>: she/her
<span aria-hidden="true">       |      /       )'-.     </span><b>Links</b>: <a href="https://github.com/TheExistingOne">GitHub</a>
<span aria-hidden="true">        \ \-.__)    ``--._)    </span>       <a href="https://realityshiftgames.itch.io">Itch.io</a>
<span aria-hidden="true">     jgs '.'-.__.-.            </span>       <a href="https://github.com/TheExistingOne/mialikestech.dev">Site Source</a>
<span aria-hidden="true">           '-...-'             </span>
</pre>
<br>


<b><p>~/ $ ls</p></b>
{%- assign page_paths = site.header_pages | default: default_paths -%}
{%- for path in page_paths -%}
    {%- assign my_page = site.pages | where: "path", path | first -%}
        {%- if my_page.title -%}
        <a href="{{ my_page.url | relative_url }}">.{{ my_page.title | escape }}</a><br>
        {%- endif -%}
{%- endfor -%}