<br>
<b><p>~/ $ neofetch</p></b>
<!-- Haven't been able to think of a non-cursed way to surpress the ASCII and only the ASCII for ARIA so span-hell it is -->
<div class="fetch">
    <div class="fetch-ascii">
        <pre class="fetch-text">
<span aria-hidden="true">                 ,
               _/((   
      _.---. .'   `\  
    .'      `     ^ T=
   /     \       .--' 
  |      /       )'-. 
   \ \-.__)    ``--._)
jgs '.'-.__.-.        
      '-...-'             </span>
</pre>
    </div>
    <div class="fetch-links">
        <pre class="fetch-text">
<b><span class="host-highlight">mia</span>@<span class="host-highlight">mialikestech.dev</span></b>
--------------------
<b>Name</b>: Mia A
<b>Host</b>: Github Pages
<b>Pronouns</b>: she/her
<b>Links</b>: <a href="https://github.com/TheExistingOne">GitHub</a>
       <a href="https://realityshiftgames.itch.io">Itch.io</a>
       <a href="https://bsky.app/profile/realityshift.bsky.social">Game Dev Blueksy</a>
       <a href="https://github.com/TheExistingOne/mialikestech.dev">Site Source</a>
       <a href="http://mialikestech.dev/feed.xml">Atom Feed</a>
</pre>
    </div>
</div>

<br>

<b><p>~/ $ ls</p></b>
{%- assign page_paths = site.header_pages | default: default_paths -%}
{%- for path in page_paths -%}
    {%- assign my_page = site.pages | where: "path", path | first -%}
        {%- if my_page.title -%}
        <a href="{{ my_page.url | relative_url }}">.{{ my_page.title | escape }}</a><br>
        {%- endif -%}
{%- endfor -%}